<!doctype html>
<html>

<head>
	<title>Socket.IO chat</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			font: 13px Helvetica, Arial;
			display: flex;
			justify-content: center;
		}

		.content {
			border: rgb(160, 160, 160) 3px solid;
			border-radius: 5px;
			width: 50%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}

		.form {
			display: flex;
			flex-direction: row;
			padding: 3px;
			bottom: 0;
			width: 100%;
			align-self: flex-end;
			justify-content: space-between;
		}

		.form .input {
			border: rgb(160, 160, 160) 2px solid;
			padding: 10px;
			width: 75%;
		}

		.form .button {
			width: 20%;
			border: rgb(160, 160, 160) 2px solid;
			padding: 10px;
			background-color: #fff;
		}

		.messages {
			width: 100%;
			padding: 0;
		}

		.messages-list {
			list-style-type: none;
		}

		.messages-list li {
			padding: 5px 10px;
		}

		.logout-button {
			position: absolute;
			top: 0;
			right: 0;
			padding: 15px;
			margin: 15px;
			height: 30px;
			border-radius: 15px;
			align-items: center;
			line-height: 2px;
			color: rgba(0, 0, 0, .8);
			text-decoration: none;
			background-color: rgba(255, 0, 0, 0.521);
		}
	</style>
</head>

<body>
	<a class="logout-button" href="/logout">Sair</a>
	<div class="content">
		<div class="messages">
			<ul id="messages" class="messages-list"></ul>
		</div>
		<form class="form" action="">
			<input placeholder="Digite sua mensagem aqui" id="m" class="input" autocomplete="off" />
			<button class="button">Enviar</button>
		</form>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			var socket = io();
			$('form').submit(function () {
				socket.emit('chat encript', $('#m').val());
				$('#m').val('');
				return false;
			});

			socket.on('chat back', function (msg) {
				$('#messages').append($('<li>').text(msg));
			});

			socket.on('chat go', function (msg) {
				socket.emit('chat decript', msg);
			});
		});
	</script>
</body>

</html>